*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;

}

body,html{
    height:100%;
    background-color: lightgreen;
}

.feed{
    display: block;
    padding: 100px;
    box-sizing: content-box;
}
.feed-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    min-height: 295px;
    background-color:#fff;
    padding: 38px 40px 40px 40px;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.feed-form input{
    height:50px;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom:15px;
    border:none;
    padding:0 20px;
    color:#4b4b4b;
    font-size:14px;
    font-weight:300;
    text-align:center;
}

.feed-additional {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
button{
    width: 100%;
    height: 52px;
    font-size: 18px;
    background-color: limegreen;
    border: none;
    border-radius: 7px;
}
button:hover {
    background: rgba(0,0,0,0);
    color: limegreen;
    box-shadow: inset 0 0 0 3px #d3f3d2;
}

a{
    color: limegreen;
    text-decoration: none;
}

input:invalid {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.1)
}

input:valid {
    border: 2px solid green;
    background-color: rgba(22, 148, 39, 0.1)
}